*{
	padding: 0;
	margin: 0;
}
body{
	background-color: black;
}
.container{
	max-width: 1200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px yellow solid;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
}

header{
	width: 100%;
	height: auto;
}
.logo{
	height: 150px;
	width: 100%;
	text-align: center;
}
.logo img{
	height: 150px;
	width: 400px;
	background-color: black;
}
.nav{
	text-align: center;
	width: 100%;
	height: 100px;
}
.nav ul{
	width: 100%;
	height: 100px;
}
.nav ul li{
	margin-top: 15px;
	width: 100px;
	padding: 20px;
	display: inline-block;
	border: 2px gray solid;
	border-radius: 10px;
	background-image: url('button-texture.jpg');
	background-size: cover;
}
.button-texture{
	margin-top: 15px;
	width: 100px;
	padding: 20px;
	display: inline-block;
	border: 2px gray solid;
	border-radius: 10px;
	background-image: url('button-texture.jpg');
	background-size: cover;
}
.nav ul li:hover{
	opacity: 0.9;
    filter: alpha(opacity=90); 
}
.nav ul li a{
	color: white;
	text-decoration: none;
}
.nav ul li a:hover{
	text-decoration: underline;
}
section{
	width: 75%;
	height: auto;
	float: left;
	background-color: gray;
	border-radius: 5px;
	
}
aside{
	width: 20%;
	height: auto;
	float: right;
}
h1, h2, h3, h4{
	color: white;
}
.aside-content{
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: gray;
}
.date{
	float: left;
	color: white;
}
.author{
	float: right;
	color: white;
}
footer{
	text-align: center;
	color: white;
	height: 50px;
	width: 100%;
	background-color: gray;
	float: left;
}

#loginform{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.login-username{
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}
.login-password{
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}


@media only screen and (max-width: 768px) {
    .logo{
    	width: 100%;
    }
    header{
    	width: 100%;
    }
    .container{
    	padding: 0 !important;
    }
    #loginform{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.login-username{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.login-password{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}